body {
  background: #66DCD2;
}

body #l-container {
  max-width: 400px;
  margin: 0 auto;
  background: white;
  position: relative;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.l-media {
  display: flex;
}

.l-media #container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding: 10px;
}

.l-media #container input {
  height: 50px;
  width: 100px;
  border: 0;
  margin: 0 10px 10px 0;
  padding: 10px;
  background: #66DCD2;
  font-size: 30px;
}

.l-media #container input:focus {
  outline: none;
}

.l-media #result {
  width: 30%;
}

.l-btn {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}

.l-btn .btn {
  width: 100px;
  height: 30px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: #22968C;
  border-radius: 4px;
  border-bottom: 5px solid #1E837A;
  cursor: pointer;
}

.l-btn .btn-submit {
  position: absolute;
  right: 10px;
}

.l-btn .btn-add {
  position: absolute;
  left: 10px;
}
